doctype html

include mixins

html(lang ="en" ng-app="apptivistApp")
  head
    meta(charset='utf-8')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='public/stylesheets/style.css')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='js/app.js')
    script(src='js/controllers/eventController.js')
    script(src='js/factories/eventFactory.js')
    script(src='js/services/eventService.js')
    title apptivistApp
    block extraHead
  body(style="padding-bottom:10rem;" ng-controller="eventController as controller")
    .jumbotron
      +nav("Apptivist", "dropdown_menu", "transparent")
      h1 MAKE A DIFFERENCE
      p Start or get involved with one of thousands of pretend movements across the globe.
      div
        a.btn.btn-default(id="showNewEventForm" ng-click="showNewEvent=!showNewEvent") Create an event
        #createEvent(ng-show="showNewEvent")
          span.label Title
          input#new-event-title(ng-model='titleText')
          span.label Description
          input#new-event-description(ng-model='descriptionText')
          span.label Time
          input#new-event-time(ng-model='timeText')
          span.label Location
          input#new-event-location(ng-model='locationText')
          a.btn.btn-default(ng-click='controller.sendEvent(titleText, descriptionText, timeText, locationText)') Submit

    .container
      div
        h2 Explore events near you.
        .row
          .col-md-4.col-sm-6.col-xs-12(id="event-list", ng-repeat="event in controller.events track by $index")
            +panel
              block eventDetails
                .eventDetails
                  h3 {{ event.title }}
                  p {{ event.description }}
                  p {{ event.location }}
                  p {{ event.time }}
                  a(id="showEditEventForm" ng-click="showEditEvent=!showEditEvent") Edit or Delete Event
                  #editEvent(ng-show="showEditEvent")
                    span.label Title
                    input#edit-event-title(ng-model='editTitleText')
                    span.label Description
                    input#edit-event-description(ng-model='editDescriptionText')
                    span.label Time
                    input#edit-event-time(ng-model='editTimeText')
                    span.label Location
                    input#edit-event-location(ng-model='editLocationText')
                    a.btn.btn-default(ng-click='controller.editEvent(editTitleText, editDescriptionText, editTimeText, editLocationText, event.id)') Confirm Changes
                    a.btn.btn-default(ng-click='controller.deleteEvent(event.id)') Delete
