extends ./layout.pug

block pageContent
  h1 Apptivist
  div(ng-controller="eventController as controller")

    #eventsBox
      ul(id="event-list", ng-repeat="events in controller.events track by $index")
        li
          .event
            .details
              span.title {{ events.title }}
              span.description Description: {{ events.description }}
              span.time Time: {{ events.time }}
              span.location Location: {{ events.location }}
    
    #newEvent
      button(id="showNewEventForm" ng-click="showNewEvent=!showNewEvent" ng-show="!showNewEvent")
        p Click to add an event
      #createEvent(ng-controller="eventController as ctrl", ng-show="showNewEvent")
        span.label Title
        input#new-event-title(ng-model='titleText', placeholder='e.g. Junior Doctor Protest')
        span.label Description
        input#new-event-description(ng-model='descriptionText')
        span.label Time
        input#new-event-time(ng-model='timeText')
        span.label Location
        input#new-event-location(ng-model='locationText')
        button#submit(ng-click='ctrl.sendEvent(titleText, descriptionText, timeText, locationText)') Create Event
