doctype html
html(lang ="en" ng-app="apptivistApp")
  head
    meta(charset='utf-8')
    script(src='bower_components/angular/angular.js')
    script(src='js/app.js')
    script(src='js/controllers/eventController.js')
    script(src='js/factories/eventFactory.js')
    script(src='js/services/eventService.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css', integrity='sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r', crossorigin='anonymous')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Pacifico')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Amatic+SC')
    link(rel='stylesheet', href='public/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title apptivistApp
    block extraHead
  body
    block pageContent
