extends ./layout.pug

block pageContent
  div(ng-controller="apptivistController as controller")
    ul(id="event-list", ng-repeat="events in controller.events track by $index")
      li
        p {{ events.title }}
        p {{ events.description }}
        p {{ events.time }}
        p {{ events.location }}
