extends ./layout.pug

block pageContent
  div(ng-controller="apptivistController as controller")
    ul(id="event-list", ng-repeat="events in controller.events track by $index")
      li
        p {{ events.title }}
        p {{ events.description }}
        p {{ events.time }}
        p {{ events.location }}
    form(name="NewEvent", ng-submit="ctrl.sendEvent()")
      div.input
        span.label Title
        input(type="text", name="title", id="new-event-title", ng-model="title"
      )
      div.input
        span.label Description
        input(type="text", name="description", id="new-event-description", ng-model="description"
      )
      div.input
        span.label Time
        input(type="text", name="time", id="new-event-time", ng-model="time"
      )
      div.input
        span.label Location
        input(type="text", name="location", id="new-event-location", ng-model="location"
      )
      div.actions
        input(type="submit", value="submit", id="submit")
