doctype html
html(lang ="en" ng-app="apptivistApp")
  head
    meta(charset='utf-8')
    script(src='server.js')
    script(src='./js/*.js')
    script(src='chai.js')
    title=helloWorld
  p Hello World
